body { 
	background-image: url(floor-tile.png);
	margin: 0;
}

.container {
	position: relative;
}

.header {
	background-color: white;
	text-align: center;
}

.judul {
	font-size: 100px;
	font-family: arial, san-serif;
}

.thumbnail {
	height: 100%;
	background-color: white;
	margin: 10px auto 0;
	overflow: auto;
	padding: 3px 30px;
}

.thumbnail img {
	height:200px;
	margin: 10px 5px;
	float: left;
}

.thumb:hover {
	opacity: 0.5;
	cursor: pointer;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade {
	opacity: 0;
	animation: fadeIn 0.5s forward;
}



.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	text-align: center;
}

.close {
	position: fixed;
	top: 5%;
	width: 50px;
}

.besar {
	max-height: 70%;
	margin-top: 7%;
}



